<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mẫu huấn luyện</title>
<style>
	.phantren{
		margin-left: 25%;
	}
    .table-container {
        max-width: 800px; /* Kích thước tối đa cho bảng */
		margin-left: 25%;
    }
    table {
        width: 100%;
    }
    td {
        padding: 5px;
        text-align: center;
    }
    img {
        max-width: 100%; /* Ảnh không vượt quá kích thước của ô */
        max-height: 100%;
        height: auto;
    }
</style>
</head>
<body>
	<div class="phantren">
		<h3>Thêm mẫu nhận dạng</h3>
		<form th:action="@{/themmauhuanluyen}" method="post" enctype="multipart/form-data">
			<label>chọn đường dẫn tới ảnh:</label>
			<input type="file" name="file" required="required">
			<select required="required" name="muct">
				<option value="so">Số</option>
				<option value="chu">Chữ</option>
			</select>
			<button type="submit">Thêm</button>
		</form>
		
		<form th:action="@{/xemmauhuanluyen}">
			<h3>Danh sách mẫu nhận dạng</h3>
			<select required="required" name="muctk">
				<option value="so">Số</option>
				<option value="chu">Chữ</option>
			</select>
			<button type="submit">Tìm kiếm</button>
		</form>
	</div>
	
	<div class="table-container">
		<table border="1">
			<thead>
			</thead>
			<tbody >
				<tr th:each ="mau : ${session.lmhl}">
					<td>
						<img alt="ảnh" th:src="@{'/anh/'+${mau.ten}}">
					</td>
					<td>
						<form th:action="@{/xoamauhuanluyen}" method="get">
							<input th:value="${mau.id}" type="hidden" name="id">
							<input th:value="${mau.ten}" type="hidden" name="ten">
							<button type="submit">Xóa</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>